#places img {
    width: 33%;
    margin-left: 20vw;
    margin-bottom: 1em;
}
h2 {
    text-align: center;
}
#places div {
    margin-bottom: 4em;
    border-bottom: 4px solid black;
}
#places p {
    float: right;
    width: 30vh;
    margin-right: 4em;
    font-size: large;
}
#Language {
    border-bottom: 5px solid black;
}
#Language img, #Language div {
    width: 40vw;
}
#Language div{
    display: inline-block;
    margin-right: 4em;
    margin-left: 4em;
}

#hobbies img {
    width: 30vw;
    height: 30vh;
}
#hobbies {
    height: 70vh;
    text-align: center;
}

#hobbies div {
    display: inline-block;
    width: 33%;
}