#biography-section {
    height: 95vh;
}
#biography-section h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}
#biography-section img {
    float: left;
    width: 30vw;
    height: 70vh;
    position: relative;
    top: 5vh;
    left: 5vh
}
#bio {
    float: right;
    width: 50vw;
    text-align: justify;
    font-size: x-large;
    margin-right: 1em;
    line-height: 1.5em;
}
footer {
    clear: both;
}